@{
    ViewData["Title"] = "Home Page";
}
<body>
    <canvas id="myCanvas" width="500" height="500" style="border:0px solid #000;">
        Grid not supported.
    </canvas>
    <p></p>
    <input id="color-text" placeholder="Enter a color (000000)">
    <button onclick="changeColor()">Change Color</button>  @* <--- change this out of hardcode! *@
    <button onclick="undoLast()">Undo</button> @* <--- change this out of hardcode! *@
    <button onclick="exportGrid()">Save For Later</button>
    <script src=grid.js></script>
</body>

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <p>Testing</p>
    <a href="http://ranbiajim-project2-client.azurewebsites.net/api/weatherforecast">weather</a>
</div>

@{
  System.Net.Http.HttpClient _http = new System.Net.Http.HttpClient();
  var res = _http.GetAsync("http://ranbiajim-project2-client/api/weatherforecast").GetAwaiter().GetResult().ToString();

<p>work pls</p>
<p>@res</p>
}

@{
  System.Net.Http.HttpClient _http1 = new System.Net.Http.HttpClient();
  var res1 = _http1.GetAsync("http://service_2/api/weatherforecast").GetAwaiter().GetResult().ToString();

<p>work pls</p>
<p>@res1</p>
}

@{
  System.Net.Http.HttpClient _http2 = new System.Net.Http.HttpClient();
  var res2 = _http2.GetAsync("http://api/weatherforecast").GetAwaiter().GetResult().ToString();

<p>work pls</p>
<p>@res2</p>
}

@{
  System.Net.Http.HttpClient _http3 = new System.Net.Http.HttpClient();
  var res3 = _http3.GetAsync("/api/weatherforecast").GetAwaiter().GetResult().ToString();

<p>work pls</p>
<p>@res3</p>
}

@{
  System.Net.Http.HttpClient _http4 = new System.Net.Http.HttpClient();
  var res4 = _http3.GetAsync("api/weatherforecast").GetAwaiter().GetResult().ToString();

<p>work pls</p>
<p>@res4</p>
}

@* @foreach (var item in Model)
{
  <table>
    <tr> 
      @Html.DisplayFor(modelitem => item.TemperatureC)
    </tr>
    <br>
  </table>
} *@